
main {
  background-size: auto;
  background-position: center;
  min-height: 100vh;
  min-width: 100vw; /* Ajusta la altura según tus necesidades */
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}